reportlab
python-pptx
PyPDF2
transformers
tf-keras
tensorflow
streamlit==1.28.1
chromadb==0.4.17
python-pptx
Pillow
fpdf2
openai
langchain-anthropic
langchain
langchain-community
unstructured
tiktoken
pysqlite3-binary